@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  /*todo: font-family */
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  
  /*todo: breakpoints */
  --breakpoint-xs: 425px;
}

body {
  background-color: #0F0F0F;
}

.costume-container {
  @apply w-full max-w-[1000px] mx-auto;
}