@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  /*todo: font-family */
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-bonheur-royale: "Bonheur Royale", cursive, sans-serif;

  /*todo: colors  */
  --color-primary: rgb(40,44,50);

  /*todo: breakpoints */
  --breakpoint-xs: 425px;
}

body {
  @apply bg-gradient-to-br from-gray-900 via-black to-gray-800 text-white;
}

.text-shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)
}

.costume-container {
  @apply w-full max-w-[1100px] mx-auto;
}